fastapi==0.115.7
pydantic==2.11.0
uvicorn[standard]==0.17.6
configargparse==1.5.3
coloredlogs==15.0.1
paramiko==2.11.0
psycopg2-binary==2.9.3
boto3==1.28.52

# These packages are used for testing
pytest==8.4.1
pytest-cov==6.2.1
parse==1.20.2
httpx==0.28.1
moto==5.1.1
